@import '@/assets/scss/global-variable.scss';


//start section kontak

p{
    font-size:15px;
}
.section-kontak{
    padding-top:80px;

    padding-bottom:125px;
    
    .map-wrapper{
    box-shadow: 0px 1px 2px 2px rgba(220, 220, 220, 0.25);
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 15px 15px 11px 11px;
    padding-bottom:10px;
   
    iframe{
        height: 430px;
    }
    }
}
.content-wrapper{
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 7px 4px rgba(220, 220, 220, 0.25);
    border-radius: 12px;
    padding-top:39px;
    padding-bottom:19px;

    .icon{
        width:50px;
        height:50px;
    }
    .title{
        color: #CB2B2B;
        font-weight: 700;
    }
}
.content-wrapper-sosmed{
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 7px 4px rgba(220, 220, 220, 0.25);
    border-radius: 12px;
    padding-top:39px;
    padding-bottom:19px;
    .icon-wrapper{
        display:flex;
        width: 100%;
        
      
        
    }
    .icon{
        width:50px;
        height:50px;
    }
    .title{
        color: #CB2B2B;
        font-weight: 700;
    }
}





// mobile

.form-email{
    width:98%;
}
@include mobile{
    .section-kontak{
        padding-top: 0;
    }
    .content-wrapper:nth-child(1){
        text-align: center;
    }
    .form-email{
        width:100%;
    }
    .content-wrapper-sosmed{

        .icon-wrapper{
            display:flex;
            width: 100%;
            
            &:nth-child(2){
              
                margin-top: 26px!important;
            }
            
            
        }
        .icon{
            width:50px;
            height:50px;
        }
        .title{
            color: #CB2B2B;
            font-weight: 700;
        }
    }
    
    
}
@include tablet(){
    .section-kontak{
        padding-top: 0;
    }
    .content-wrapper:nth-child(1){
        text-align: center;
        .icon{
            width: 50px;
            height: 50px;
        }
        .text-caption{
            width:180px;
        }
    }
    .content-wrapper-sosmed{
        display:flex;
    
    }
    .form-email{
        width:100%;
    }
 
}

// end mobile
@include dekstop{
    p{
        font-size:15px;
    }
    .section-kontak{
        padding-top:80px;
    
        padding-bottom:125px;
        
        .map-wrapper{
        box-shadow: 0px 1px 2px 2px rgba(220, 220, 220, 0.25);
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 15px 15px 11px 11px;
        padding-bottom:10px;
       
        iframe{
            height: 487px;
        }
        }
    }
    .content-wrapper{
        box-sizing: border-box;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 7px 4px rgba(220, 220, 220, 0.25);
        border-radius: 12px;
        padding-top:39px;
        padding-bottom:19px;
        height: 280px;
    
        .icon{
            width:50px;
            height:50px;
        }
        .title{
            color: #CB2B2B;
            font-weight: 700;
        }
    }
    .content-wrapper-sosmed{
        box-sizing: border-box;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 7px 4px rgba(220, 220, 220, 0.25);
        border-radius: 12px;
        padding-top:39px;
        padding-bottom:19px;
        height: 250px;
        .icon-wrapper{
            display:flex;
            width: 100%;
        }
        .icon{
            width:50px;
            height:50px;
        }
        .title{
            color: #CB2B2B;
            font-weight: 700;
        }
    }
    .form-email{
        width:98%;
    }
}
@include extra{
    .section-kontak{
        .container{
            max-width: 80%;
        }
        .map-wrapper{
           height: 92.5%;
        iframe{
            height: 520px;
        }
        }
    }
    .content-wrapper{
        height: 254px;
    }
 
    .content-wrapper-sosmed{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        flex-direction: column;
        .icon-wrapper{
            display:flex;
            width: 80%;
            
            &:nth-child(2){
     
                margin-top: 46px!important;
            }
            
        }
        .icon{
            width:66px;
            height:66px;
        }
        .title{
            color: #CB2B2B;
            font-weight: 700;
        }
    }
}

//end section kontak


//start section-ask-form
.section-ask-form{
    border:1px solid black;
    padding-top:72px;
    padding-bottom:87px;
    background:url('@/../../../../public/assets/img/kontak/bg-ask-form.png');
    background-position: center;
    background-size: cover;
    h1{
        text-align: center;
        color:white;
        font-family: poppins,sans-serif;
    }
    .form-wrapper{
        width:100%;
        display:flex;
        justify-content: center;
        form{
            width:80%;
            .form-control{
                border-radius: 5px !important;
                height: 51px;
            }
        }
    }
    .btn-send{
        background-color:#C52D2E ;
        box-shadow: 0px 4px 10px rgba(203, 43, 43, 0.24);
        width: 100%;
        border:none;
        padding:14px auto;
        font-size:16px;
        height:52px;
        border-radius: 6px;
        &:focus{
               outline: 0;
box-shadow: none!important;
        }

    }

}

// mobile
@include mobile{
    .section-ask-form{
        h1{
            font-size:30px;
        }
        .form-wrapper{
            form{
                width:100%;
            }
        }
    }
}

// end mobile


//end section-ask-form
