$bp-sm:600px;
$bp-md:768px;
$bp-L:992px;
$bp-XL:1200px;

@mixin mobile{
    @media (min-width:0) and (max-width:#{$bp-sm})
    {
        @content;
    }
}

@mixin tablet {
    @media (min-width:$bp-sm+1px) and (max-width:#{$bp-md})
    {
        @content;
    }
}
@mixin dekstop {
    @media (min-width:$bp-md+1px) and(max-width:#{$bp-L}){
        @content;
    }
        
}
@mixin superdesktop {
    @media(min-width:$bp-L+1px) and(max-width:#{$bp-XL}){
        @content;
    }
}
@mixin extra{
    @media(min-width:$bp-XL+245){
        @content;
    }
}

.router-link-active{
  padding:7px 14px;
  background:white;
  border-radius:15.5px;
  color: #C52D2E!important;
  text-decoration: none;

}
.navbar{
    padding-top:15px;
    background:transparent;
    z-index:20;

}
.nav-item .nav-link a{
        color:white;
        font-family: poppins,sans-serif;
        font-size:12px;
        margin-left:8px;
        text-decoration: none;

    &:hover{
      color:white;
      opacity: 0.7;
    }
    }

   .nav-item:last-child .nav-link{
    margin-left:-11px;
  }

 .navbar-light .navbar-nav .nav-link.active a{
  padding:7px 14px;
  background:white;
  border-radius:15.5px;
  color: #C52D2E!important;
  text-decoration: none;
}
.nav-billingual>a{
  font-weight: 500;
}
.divider{
  color:white;
  margin-left:-2px;
  margin-top:9px;
}
@include mobile{
  .navbar{
    background-color:#c5202e;
  }
  .nav-item{
    margin-top:20px;
  }
  .nav-item .nav-link{
    color:color;

  }
  .navbar-brand{
    display:none;
  }
   .navbar-light .navbar-nav .nav-link.active{
     color:white;
     padding:0;
     background:#c5202e;
   }
  .divider{
    display:none;
  }

     .nav-item:last-child .nav-link{
    margin-left:0px;
  }

    button.navbar-toggler{
      border: 1px solid white;
    }
}

@include tablet{
  .navbar{
    background-color:#c5202e;
  }
  .nav-item{
    margin-top:20px;
  }
   .navbar-brand{
    display:none;
  }
  .nav-item .nav-link{
    color:color;

  }
   .navbar-light .navbar-nav .nav-link.active{
     color:white;
     padding:0;
     background:#c5202e;
   }
     .nav-item:last-child .nav-link{
    margin-left:0px;
  }
  span.divider{
    display:none;
  }
      button.navbar-toggler{
      border: 1px solid white;
    }
 

}

@include extra{
  .navbar-nav{
    .nav-item{
      margin-left:50px;
    }
  }
}