$bp-sm:600px;
$bp-md:768px;
$bp-L:992px;
$bp-XL:1200px;


@mixin mobile{
    @media (min-width:0) and (max-width:#{$bp-sm})
    {
        @content;
    }
}
@mixin tablet {
    @media (min-width:$bp-sm+1px) and (max-width:#{$bp-md})
    {
        @content;
    }
}
@mixin dekstop {
    @media (min-width:$bp-md+1px) and(max-width:#{$bp-L}){
        @content;
    }
        
}
@mixin superdesktop {
    @media(min-width:$bp-L+1px) and(max-width:#{$bp-XL}){
        @content;
    }
}
@mixin extra{
    @media(min-width:$bp-XL+245){
        @content;
    }
}

.section-merdeka{
    margin-top:-200px;
    padding-top:250px;
    padding-bottom:115px;
    background-color: rgba(0, 0, 0, 0.03);
    .logo-about{
        width:300px;
        height:300px;
    }
    p{
        font-family: poppins,sans-serif;
        font-size:18px;
    }

}


.about-kenapa-section{
    
    position:relative;
    .stgh-lingkaran{
        width:310px;
        position:absolute;
        top:-100px;
        left:-150px;
    }


}



.title{
    font-family: poppins,sans-serif;
    font-size:30px;
    font-weight: 600;
}
.line-red{
    width:50%;
    height:10px;
    background-color: #CB2B2B;
    border-radius: 9px;
    margin-bottom:50px;

}


@include extra{
    .about-kenapa-section{
        .stgh-lingkaran{
            width: 500px;
            top:-200px;
            left:-400px;
        }
    }
}
