@import '@/assets/scss/global-variable.scss';


.section-merdeka{
    
    margin-top:-200px;
    padding-top:250px;
    padding-bottom:115px;
    background-color: rgba(0, 0, 0, 0.03);
    .logo-about{
        width:230px;
        height:230px;
    }
    p{
        font-family: poppins,sans-serif;
        font-size:15px;
    }

}


.about-kenapa-section{
    
    position:relative;
    padding-bottom:270px;
    display: flex;
    justify-content: center;
  
    
        .wrapper{
            width: 90% !important;
        }
    .kenapa-wrapper{
     
        display:flex;
        align-items: center;
        justify-content: start;
    }
    .stgh-lingkaran{
        width:310px;
        position:absolute;
        top:-100px;
        left:-150px;
    }


}



.title{
    font-family: poppins,sans-serif;
    font-size:30px;
    font-weight: 600;
}
.line-red{
    width:50%;
    height:10px;
    background-color: #CB2B2B;
    border-radius: 9px;
    margin-bottom:50px;

}

.underline{
    border-bottom:1px solid  #CB2B2B;
}
@include mobile(){
    .about-kenapa-section{
        text-align: left;
        .kenapa-wrapper{
            p{
                font-size: 25px;
            }
            br{
                display: none;
            }
        }
    }
}
@include tablet{
    .about-kenapa-section{
        text-align: left;
        .kenapa-wrapper{
            br{
                display: none;
            }
        }
    }
}
@include extra{

    .section-merdeka{
        margin-top:0;
        padding-top:80px;
        padding-left:100px ;
        padding-right: 100px;
        padding-bottom:129px;
        background-color: rgba(0, 0, 0, 0.03);
    
        .logo-about{
            width:319px;
            height:319px;
        }
        .text-content{
            padding-left:50px;
            p{
                font-family: poppins,sans-serif;
                font-size:22px;
                text-align:justify;
            }
        }
   
    
    }
    .about-kenapa-section{
        display: flex;
        justify-content: center;
        padding-top:0px;
        .wrapper{
            width: 80% !important;
        }
     
        .stgh-lingkaran{
            width: 659px/2;
            top:-100px;
            left:0px;
        }
    }
}
