@import '@/assets/scss/global-variable.scss';


.section-merdeka{
    margin-top:-200px;
    padding-top:250px;
    padding-bottom:115px;
    background-color: rgba(0, 0, 0, 0.03);
    .logo-about{
        width:230px;
        height:230px;
    }
    p{
        font-family: poppins,sans-serif;
        font-size:15px;
    }

}


.about-kenapa-section{
    
    position:relative;
    padding-bottom:270px;
    .kenapa-wrapper{
        display:flex;
        align-items: center;
        justify-content: start;
    }
    .stgh-lingkaran{
        width:310px;
        position:absolute;
        top:-100px;
        left:-150px;
    }


}



.title{
    font-family: poppins,sans-serif;
    font-size:30px;
    font-weight: 600;
}
.line-red{
    width:50%;
    height:10px;
    background-color: #CB2B2B;
    border-radius: 9px;
    margin-bottom:50px;

}

.underline{
    border-bottom:1px solid  #CB2B2B;
}
@include mobile(){
    .about-kenapa-section{
        text-align: left;
        .kenapa-wrapper{
            p{
                font-size: 25px;
            }
            br{
                display: none;
            }
        }
    }
}
@include tablet{
    .about-kenapa-section{
        text-align: left;
        .kenapa-wrapper{
            br{
                display: none;
            }
        }
    }
}
@include extra{
    .about-kenapa-section{
        .stgh-lingkaran{
            width: 500px;
            top:-200px;
            left:-400px;
        }
    }
}
