@import '@/assets/scss/global-variable.scss';


.section-donation{
    padding-top:110px;
    padding-bottom:200px;
    p{
        font-weight: 700;
    }
}
.bank-account{
   box-shadow: 0px 7px 10px rgba(181, 181, 181, 0.25);
   border-radius: 9px;
   padding:35px 32px ;
 
   p{
       font-size:12px;
       font-family: poppins,sans-serif;
       font-weight: 500;
   }
   

}
.img-logo{
    
    margin-bottom:31px;

    }

.bank-wrapper{
    margin-top:48px;
    display: flex;
    width: 100%;
    justify-content: space-between;
   
    

}

@include mobile{
    .section-donation{
        padding-top: 50px;
        p{
            text-align: center;
        }
    }

    .bank-wrapper{
        
       
        text-align: center;
        height: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
  
     
    }
    .bank-account{
        width:90%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@include tablet{

    .section-donation{
        padding-top: 50px;
        p{
            text-align: center;
        }
    }
    .bank-wrapper{
        text-align: center;
        
        height:700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .bank-account{
        width:80%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@include extra{
    .container{
        max-width: 80%;
    }
  
}