@import '@/assets/scss/global-variable.scss';

*{
    font-family: poppins,sans-serif;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .globe{
    
  
    width:100%;
    
    position:relative;
    .img-globe{
    position:absolute;
    margin-top:0;
    top:-100px;
    right:-30px;
    width:100%;
    z-index:-5;
    }
   
    
  
  }
  .header-text{
    display:flex;
   
    align-items: center;
    color:#686868;
    height:500px;
    .header-content{
        margin-right: -2rem;
    }
    h1{
        font-weight: bold;
        color:black;
        font-size:35px;
    }
    p{
        font-size:14px;
    }
    span{
        color:red;
    }
    .btn-daftar{
        background: linear-gradient(210.71deg, #C52D2E 15.71%, #AD262F 90.35%);
        border-radius:30px;
        padding:15px 34px  15px 33px;
        border:none;
        &:focus{
            outline: 0;
            box-shadow: none!important;
        }
        
    }
  }
.section-profile{
    margin-top:150px;
    h1{
        font-weight: bold;
    }
}
  .digital-logo-2-wrapper{
    position: relative;

      .garis-bantu-kiri{
        position:absolute;
        left:-15px;
        width:100%;
    
        margin-top:-200px;
        
        z-index:-10;
      }
      .logo-digital2{
        position:absolute;
        top:30px;
        width:310px;
        height:310px;
        z-index:11;
        -webkit-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.7);
        -moz-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.7);
        box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.7);
        border-radius: 20px;
      
      }
      
  }

  .profile-content{
      margin-top: 1rem;
      .info-link{
          color:red;
      }
  }
  //mobile css
@include mobile{

    .globe{
        display:none;
    }
    .header-text{
        text-align: center;
        .header-content{
        margin-right: -0.5rem;
  
        padding-right: 0;
        }
    }
    .section-profile{
        position:static;
        margin-top: 50px;
        .garis-bantu-kiri{
            width:100%;
            right:0;
        }
        .logo-digital2{
            width:250px;
            height:250px;
            margin-top:-150px;
        }
        .profile-content{
            margin-top:100px;
            text-align: center;

        }
        h1{
            margin-top:40px;
        }
    }
  }
  @include tablet{

    .globe{
        width:100%;
        
        padding:0;
        .img-globe{

        
        position:absolute;
        margin-top:0;
        top:-60px;
        right:-30px;
        width:120%;
        z-index: 10;
        
        }
       
        
      
      }
      .header-text{
          height:300px;
          .header-content{
            margin-right: 0rem;
        }
          h1{
              font-size:25px;
          }
          p{
              font-size:12px;
          }
          .btn-daftar{

            padding:12px 31px  12px 31px;
            border:none;
            &:focus{
                outline: 0;
                box-shadow: none!important;
            }
            
        }
      }
      .section-profile{
          position: static;
          margin-top:150px;
          .logo-digital2{
              width:300px;
              height:300px
              
          }
          .garis-bantu-kiri{
           top:8rem;
           right:0;
        }
        .profile-content{
            p{
                font-size:14px;
            }

        }
      }
  }
  @include extra{
    .globe{
        width:100%;
        
        padding:0;
        .img-globe{

       
        position:absolute;
        margin-top:0;
        top:-90px;
        right:-45px;
        width:100%;
        z-index:-5;
        
        }
       
        
      
      }
      .header-text{
          height: 800px;
          justify-content: end;
      }
      .section-profile{
        position: static;
        margin-top:100px;
        .logo-digital2{
            width:400px;
            height:400px
            
        }
        .garis-bantu-kiri{
         top:0;
         right:0;
      }
      .profile-content{
          margin-top:2rem;
          p,.info-link{
              font-size:20px;
          }

      }
    }

  }