@import '@/assets/scss/global-variable.scss';

// >= 1920
.wrapper-home{
    position: relative;
    height: 1100px;
}
.hero{
    width: 100%;
      
    position: absolute;
    top:0px;
    z-index:1px;
    display:grid;
    grid-template-columns: 1.2fr 2fr;

    .header-text{
        height: 900px;
      
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .header-content{
            width:80%;
           
            display: flex;
           
            flex-direction: column;
            justify-content: center;
          
            h1{
                font-size:45px;
                line-height: 67.5px;
                font-weight: bold;
            }
           .p-text{
               font-size:20px;
           }
           ::v-deep .p-text > span{
               color:#C52D2E;
               font-weight: 500;
           }
           .btn-daftar{       
            font-size: 20px;
            width: 273px;
            padding:19px 53px  19px 54px;
            border-radius: 32.5;
            background:$merah;
            border-radius: 32.5px;
            border:none;

        }
        }
     

    }

    .globe-wrapper{

        height: 800px;
        .img-globe{
        
            width: 100%;
        }
    }
}
.section-profile-wrapper{

    position: relative;
    padding:0;
    height: 650px;
    
}
  .garis-bantu-kiri{
    position: relative;
    width:620px;
    left:0;
    top:-150px;
}
  .section-profile{
  
    position:absolute;
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(50px + 0.60416vw );
    padding-right: calc(97px + 2.60416vw);
  
    .logo-wrapper{
        flex:1.2;
   
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            width:calc(300px + 6.04167vw);
            height: calc(300px + 6.04167vw);
            z-index:11;
            -webkit-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            -moz-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            border-radius: 20px;
        }
    }

    .profile-content{
        flex:2;
       
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(2rem + 0.9375vw );
            line-height: calc(50px + 1.145833vw);
            font-weight: bold;

        }
        p{
            text-align: justify;
            font-size:20px;
            
        }
        .info-link{
            color:#C52D2E;
            font-size: 20px;
            font-weight: 700;
        }
    }
    
  }


  // end >= 1920


//  res =  1440 - 1919 
  @include ultradesktop{
    .wrapper-home{
        position: relative;
        height: 100vh;
    }
    .hero{
        width: 100%;
          
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr 2.2fr;
    
        .header-text{
            height: 900px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .header-content{
                width:80%;
             
                display: flex;
               
                flex-direction: column;
                justify-content: center;
              

                h1{
                    font-size:35px;
                    line-height: 50px;
                }
                .p-text{
                    font-size:16px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 15px 49px 15px 50px;
                    font-size:16px;
                }
            }
         
    
        }
    
        .globe-wrapper{
      
         
            height: 800px;
            .img-globe{
            
                width: 100%;
            }
        }
    }
   
.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: calc(440px + 7.8125vw);
    left:0;
    top:-200px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(50px + 2.60416vw );
    padding-right: calc(50px + 2.60416vw);
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
        }
    }
    .profile-content{
        flex:2;
    
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}

//  end res =  1440 - 1919 


// res = 1201 - 1439
  @include superdesktop{
    .wrapper-home{
        position: relative;
        height: 700px;
    }
    .hero{
        width: 100%;
          
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr 2fr;
    
        .header-text{
            height: 700px;
          
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .header-content{
                width:80%;
             
                display: flex;
               
                flex-direction: column;
                justify-content: center;
              
                h1{
                    font-size:35px;
                    line-height: 50px;
                }
                .p-text{
                    font-size:16px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 15px 49px 15px 50px;
                    font-size:16px;
                }
 
            }
         
    
        }
    
        .globe-wrapper{
      
         
            height: 800px;
            .img-globe{
            
                width: 100%;
            }
        }
    }
    .section-profile-wrapper{
        position: relative;
        padding:0;
        height: 500px;    
    }
      .garis-bantu-kiri{
        position: relative;
        width: 590px;
        left:0;
        top:-100px;
    }
      .section-profile{
        margin-top: 100px;
        position:absolute;
        top:0;
        width: 100%;
        display:flex;
        padding:10px 40px;
    
        .logo-wrapper{
            flex:1;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
                width:calc(300px + 6.04167vw);
                height: calc(300px + 6.04167vw);
                z-index:11;
                -webkit-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                -moz-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                border-radius: 20px;
            }
        }
    
        .profile-content{
            flex:1;
            display: flex;
            align-items: center;
      
            text-align: left;
            h1{
                font-size: calc(2rem + 0.9375vw );
                line-height: calc(50px + 1.145833vw);
                font-weight: bold;
    
            }
            p{
                text-align: justify;
                font-size:20px;
                
            }
            .info-link{
                color:#C52D2E;
                font-size: 20px;
                font-weight: 700;
            }
        }
        
      }
}

// end res = 1201 - 1439

// res = 993 - 1200 
@include dekstop{
    .wrapper-home{
        position: relative;
        height: 700px;
    }
    .hero{
        width: 100%;
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr 2.05fr;
    
        .header-text{
            height: 650px;
          
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .header-content{
                width:80%;
             
                display: flex;
               
                flex-direction: column;
                justify-content: center;
              
                h1{
                    font-size:25px;
                    line-height: normal;
                }
                .p-text{
                    font-size:12px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 10px 44px 10px 45px;
                    font-size:14px;
                }
 
            }
         
    
        }
    
        .globe-wrapper{
      
         
            height: 800px;
            .img-globe{
            
                width: 100%;
            }
        }
    }
    .section-profile-wrapper{
     
        position: relative;
        margin-top: -100px;
        padding:0;
        height: 500px;
        
    }
      .garis-bantu-kiri{
        
        position: relative;
        width: 480px;
        left:0;
        top:-100px;
    }
      .section-profile{
        
        position:absolute;
        top:0;
        width: 100%;
        display:flex;
        padding:10px 40px;
    
        .logo-wrapper{
            flex:1;
            
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
                width:calc(300px + 6.04167vw);
                height: calc(300px + 6.04167vw);
                z-index:11;
                -webkit-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                -moz-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
                border-radius: 20px;
            }
        }
    
        .profile-content{
            flex:1;
            display: flex;
            align-items: center;
      
            text-align: left;
            h1{
                font-size: calc(1rem + 0.9375vw );
                line-height: calc(25px + 1.145833vw);
                font-weight: bold;
    
            }
            p{
                text-align: justify;
                font-size:14px;
                
            }
            .info-link{
                color:#C52D2E;
                font-size: 14px;
                font-weight: 700;
            }
        }
        
      }
}

// end res = 993 - 1200 

//  res = 769 - 992

  @include tablet-xl{

    .wrapper-home{
        position: relative;
        height: 500px;
    }
    .hero{
   
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr;
    
        .header-text{
       
            height: 500px;  
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .header-content{
                
                width:90%;
                display: flex;
               align-items: center;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
                }
                .btn-daftar{       
                    font-size: 14px;
                    width: 273px;
                    padding:19px 53px  19px 54px;
                    border-radius: 32.5;
                    background:$merah;
                    border:none;
        
                }
            }
         
    
        }
    
        .globe-wrapper{
            display: none;

        }
    }

 .section-profile-wrapper{
    
    height: 400px;
    }
      .garis-bantu-kiri{
        width: 380px;
        left:-40px;
        top:-100px;
    }
      .section-profile{
        top:0;
        width: 100%;
        display:flex;
        flex-direction: row;
        padding:10px 20px;
        .logo-wrapper{
            .logo{
                width:calc(250px + 6.04167vw);
                height: calc(250px + 6.04167vw);
                z-index:11;
                border-radius: 20px;
                margin-bottom:50px;
            }
        }
        .profile-content{
          
            padding: 0 30px;
            flex:2;
            display: flex;
            align-items: center;
      
            text-align: center;
            h1{
                font-size: calc(1rem + 0.9375vw );
                line-height: calc(20px + 1.145833vw);
                font-weight: bold;
            }
            p{
                font-size:14px;
            }
            .info-link{
                font-size: 14px;
            }
        }
        
      }
  }

  //  end res = 769 - 992

//   res = 600 - 768
  @include tablet{

    .wrapper-home{
        position: relative;
        height: 500px;
    }
    .hero{
        width: 100%;
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr;
        .header-text{
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .header-content{
                
                width:90%;
             
                display: flex;
               align-items: center;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
                }
                .btn-daftar{       
                    font-size: 14px;
                    width: 273px;
                    padding:19px 53px  19px 54px;
                    border-radius: 32.5;
                    background:$merah;
                    border:none;
        
                }
            }
         
    
        }
    
        .globe-wrapper{
            display: none;

        }
    }

 .section-profile-wrapper{
  
    height: 400px;
    }
      .garis-bantu-kiri{
        display: none;
    }
      .section-profile{
        top:0;
        width: 100%;
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        .logo-wrapper{
            .logo{
                width:calc(250px + 6.04167vw);
                height: calc(250px + 6.04167vw);
                z-index:11;
                border-radius: 20px;
                margin-bottom:50px;
            }
        }
        .profile-content{
            flex:2;
            
        
            display: flex;
            align-items: center;
      
            text-align: center;
            h1{
                font-size: calc(1rem + 0.9375vw );
                line-height: calc(20px + 1.145833vw);
                font-weight: bold;
            }
            p{
                font-size:14px;
            }
            .info-link{
                font-size: 14px;
            }
        }
        
      }
  }


  //   end res = 600 - 768


//   res < 600
  @include mobile{

    .wrapper-home{
        position: relative;
        height: 500px;
    }
    .hero{
      
        position: absolute;
        top:0px;
        z-index:1px;
        display:grid;
        grid-template-columns: 1fr;
    
        .header-text{
         
            height: 500px;
         
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            .header-content{
                
                width:90%;
             
                display: flex;
               align-items: center;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
                }
                .btn-daftar{       
                    font-size: 14px;
                    width: 273px;
                    padding:19px 53px  19px 54px;
                    border-radius: 32.5;
                    background:$merah;
                    border:none;
        
                }
            }
         
    
        }
    
        .globe-wrapper{
            display: none;

        }
    }

 .section-profile-wrapper{
  
    height: 400px;
    }
      .garis-bantu-kiri{
        width: 60vw;
        left:0;
        top:-50px;
    }
      .section-profile{
        top:0;
        width: 100%;
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        .logo-wrapper{
            .logo{
                width:calc(250px + 6.04167vw);
                height: calc(250px + 6.04167vw);
                z-index:11;
                border-radius: 20px;
                margin-bottom:50px;
            }
        }
        .profile-content{
            flex:2;
            
        
            display: flex;
            align-items: center;
      
            text-align: center;
            h1{
                font-size: calc(1rem + 0.9375vw );
                line-height: calc(20px + 1.145833vw);
                font-weight: bold;
            }
            p{
                font-size:14px;
            }
            .info-link{
                font-size: 14px;
            }
        }
        
      }
  }