@import '@/assets/scss/global-variable.scss';

*{
    font-family: poppins,sans-serif;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }



.hero{
    position: relative;
    display:flex;
    
    .header-text{
        display:flex;
        padding-left:6.25vw;
        align-items: center;
        flex:1.5;
        height: 80vh;
        .header-content{
          
            h1{
                font-size:45px;
                line-height: 67.5px;
                font-weight: bold;
            }
           .p-text{
               font-size:20px;
           }
           span{
            color:#C52D2E;
            font-weight: 500;
        }
           .btn-daftar{       
            font-size: 20px;
            width: 273px;
            padding:19px 53px  19px 54px;
            border-radius: 32.5;
            background:$merah;
            border-radius: 32.5px;
            border:none;

        }
        }
    }

    .globe-wrapper{
       flex:3;
       .globe{
        width:100%;
      
        .img-globe{
          position:relative;
            width:100%;
            top:-16.24vh;
            right:0;
            z-index:-5;
            
        }
    }
    }
}


.section-profile-wrapper{

    position: relative;

    padding:0;
    height: 760px;
    
}
  .garis-bantu-kiri{
        

    position: relative;
    width: 700px;
    left:0;
    top:-150px;
}
  .section-profile{
  
    position:absolute;
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(100px + 2.60416vw );
    padding-right: calc(157px + 2.60416vw);

    .logo-wrapper{
        flex:1.2;
   
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            width:calc(300px + 6.04167vw);
            height: calc(300px + 6.04167vw);
            z-index:11;
            -webkit-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            -moz-box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            box-shadow: -1px -1px 9px 2.7px rgba(194,194,194,0.3);
            border-radius: 20px;
        }
    }

    .profile-content{
        flex:2;
       
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(2rem + 0.9375vw );
            line-height: calc(50px + 1.145833vw);
            font-weight: bold;

        }
        p{
            text-align: justify;
            font-size:20px;
            
        }
        .info-link{
            color:#C52D2E;
            font-size: 20px;
            font-weight: 700;
        }
    }
    
  }

  
@include ultradesktop{
    .hero{
        .header-text{
             flex:1.1;
            .header-content{

                h1{
                    font-size:35px;
                    line-height: 50px;
                }
                .p-text{
                    font-size:16px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 15px 49px 15px 50px;
                    font-size:16px;
                }
            }
        }
        .globe-wrapper{
       
            .globe{
             width:100%;
           
             .img-globe{
             
                 width:calc(100%);
                 top:calc(-1* (8.955vw + 1rem));
                 right:0;
                 z-index:-5;
                 
             }
         }
         }
    }
  


.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: calc(350px + 7.8125vw);
    left:0;
    top:-150px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(50px + 2.60416vw );
    padding-right: calc(50px + 2.60416vw);
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
        }
    }
    .profile-content{
        flex:2;
    
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}


  
@include superdesktop{
    .hero{
        .header-text{
             flex:1.1;
            .header-content{

                h1{
                    font-size:35px;
                    line-height: 50px;
                }
                .p-text{
                    font-size:16px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 15px 49px 15px 50px;
                    font-size:16px;
                }
            }
        }
        .globe-wrapper{
       
            .globe{
             width:100%;
           
             .img-globe{
             
                 width:calc(100%);
                 top:calc(-1* (9.955vw + 1.2rem));
                 right:0;
                 z-index:-5;
                 
             }
         }
         }
    }
  


.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: calc(350px + 7.8125vw);
    left:0;
    top:-150px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(50px + 2.60416vw );
    padding-right: calc(50px + 2.60416vw);
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
        }
    }
    .profile-content{
        flex:2;
    
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}

@include dekstop{
    .hero{
        .header-text{
             flex:1.25;
            .header-content{

                h1{
                    font-size:35px;
                    line-height: 50px;
                }
                .p-text{
                    font-size:16px;
                }

                .btn-daftar{
                    width: auto;
                    padding: 15px 49px 15px 50px;
                    font-size:16px;
                }
            }
        }
        .globe-wrapper{
       
            .globe{
             width:100%;
           
             .img-globe{
             
                 width:100%;
                 top:-13.8vh;
                 right:0;
                 z-index:-5;
                 
             }
         }
         }
    }
  


.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: calc(350px + 7.8125vw);
    left:0;
    top:-150px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    padding-left:calc(50px + 2.60416vw );
    padding-right: calc(50px + 2.60416vw);
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
        }
    }
    .profile-content{
        flex:2;
    
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}



@include tablet-xl{
    .hero{
        width: 100%;
   
        .header-text{
            width: 90%;
           
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0 25px;
            flex:1;
            height: 400px;
            .header-content{
              text-align: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
            }
               .btn-daftar{       
                font-size: 14px;
                width: 273px;
                padding:19px 53px  19px 54px;
                border-radius: 32.5;
                background:$merah;
                border:none;
    
            }
            }
        }
    
        .globe-wrapper{
            display: none;
        }
    }
    
    

    
.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: 60vw;
    left:0;
    top:-50px;
}
  .section-profile{
    top:0;
    width: 100%;

    flex-direction: row;
    padding:0px 20px;

    .logo-wrapper{
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: center;
     
        
        .logo{
            width:calc(200px + 6.04167vw);
            height: calc(200px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
           
        }
    }
    .profile-content{
        flex:2;
        
    
        display: flex;
        align-items: center;
  
        text-align: left;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(5px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:12px;
        }
        .info-link{
            font-size: 12px;
        }
    }
    
  }
}
@include tablet{
    .hero{
        width: 100%;
   
        .header-text{
            width: 90%;
           
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0 25px;
            flex:1;
            height: 400px;
            .header-content{
              text-align: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
            }
               .btn-daftar{       
                font-size: 14px;
                width: 273px;
                padding:19px 53px  19px 54px;
                border-radius: 32.5;
                background:$merah;
                border:none;
    
            }
            }
        }
    
        .globe-wrapper{
            display: none;
        }
    }
    
    

    
.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: 60vw;
    left:0;
    top:-50px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:10px 20px;
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
            margin-bottom:50px;
        }
    }
    .profile-content{
        flex:2;
        
    
        display: flex;
        align-items: center;
  
        text-align: center;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}


@include mobile{
    .hero{
        width: 100%;
   
        .header-text{
            width: 90%;
           
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0 25px;
            flex:1;
            height: 400px;
            .header-content{
              text-align: center;
                h1{
                    font-size:30px;
                    line-height: 46px;
                    font-weight: bold;
                }
               .p-text{
                   font-size:14px;
               }
               span{
                color:#C52D2E;
                font-weight: 500;
            }
               .btn-daftar{       
                font-size: 14px;
                width: 273px;
                padding:19px 53px  19px 54px;
                border-radius: 32.5;
                background:$merah;
                border:none;
    
            }
            }
        }
    
        .globe-wrapper{
            display: none;
        }
    }
    
    

    
.section-profile-wrapper{
    height: 400px;
}
  .garis-bantu-kiri{
    width: 60vw;
    left:0;
    top:-50px;
}
  .section-profile{
    top:0;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:10px 20px;
    .logo-wrapper{
        .logo{
            width:calc(250px + 6.04167vw);
            height: calc(250px + 6.04167vw);
            z-index:11;
            border-radius: 20px;
            margin-bottom:50px;
        }
    }
    .profile-content{
        flex:2;
        
    
        display: flex;
        align-items: center;
  
        text-align: center;
        h1{
            font-size: calc(1rem + 0.9375vw );
            line-height: calc(20px + 1.145833vw);
            font-weight: bold;
        }
        p{
            font-size:14px;
        }
        .info-link{
            font-size: 14px;
        }
    }
    
  }
}

