@import '@/assets/scss/global-variable.scss';

  .header-global{
    z-index:0;
    position: relative;
    margin-top: -4.167vw;
    
        .navbar-background{
        width:100%;
        
       
    }
    .img-logo-header{
      
      width: calc(250px +  0.833vw);
      height: calc(150px + 1.979157vw);
      position: absolute;
      bottom: 5.125vw;
      left: calc(8.9% - 0.1rem);
    }
    .bottom-left {
        font-family: poppins;
        font-size: calc(28px + 0.20833vw);
        font-weight: 500;
        color:#C52D2E;
        position: absolute;
        bottom: 3.125vw;
        left: calc(8.9% - 0.1rem);
      }
  }
  
@include ultradesktop{
.header-global{
    margin-top:-4.8vw;
     z-index:5;
    .navbar-background{
        width:100%;
       
    }
    .img-logo-header{
      width: calc(210px +  0.833vw);
      height: calc(110px + 1.979157vw);
      
    }
    .bottom-left{
        font-size: calc(22px + 0.20833vw);
    }
}
}

@include superdesktop{
.header-global{
    margin-top:-4.8vw;
     z-index:5;
    .navbar-background{
        width:100%;
      
       
    }
    .img-logo-header{
      width: calc(200px +  0.833vw);
      height: calc(100px + 1.979157vw);
      
    }
    .bottom-left{
        font-size: calc(22px + 0.20833vw);
    }
}
}

@include dekstop{
.header-global{
   z-index:5;
    margin-top:-52px;
    .navbar-background{
        width:100%;   
    }
    .img-logo-header{
      width: calc(200px +  0.833vw);
      height: calc(100px + 1.979157vw);
      
    }
    .bottom-left{
        font-size: calc(20px + 0.20833vw);
    }
}
}

@include mobile{
  header{
    display:none;
    
  }
}

@include tablet{
  header{
    display:none;
  }
}
@include tablet-xl{
  header{
    display:none;
  }
}
