
@import '@/assets/scss/global-variable.scss';

*{
    font-family: poppins,sans-serif;
}
.section-tujuan{
    position: relative;
    margin-top:-100px;
    background: rgba(0, 0, 0, 0.03);
    padding-top:260px;
    border-radius: 0px 0px 208px 0px;
    padding-bottom:94px;
    z-index:-10;
    img{
        width: 100%;
        padding-left: 2.0833333333333335vw;
    }
    h1{
        font-size: calc(1.7rem + 0.9375vw );
        line-height: calc(50px + 1.145833vw);
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        text-align: justify;
        font-size:18px;
    }

}
.section-value{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding-top:129px;
    padding-bottom:150px;
    .container{
        max-width: 88%;
    }
    .card-content-wrapper{
        width: 88%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        
        row-gap: 39px;
        column-gap: 61px;
        .card-content{
            display: flex;
            align-items: center;
            padding-left:calc(50px +  0.46875vw); 
            padding-right: calc(45px +  0.46875vw);
            border: 1px solid #F3F3F3;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
            border-radius: 10px;
            min-height: 220px;  
            .text-content{
                padding-left:calc(45px + 0.3645833vw);
            }
            .title{
                font-weight: 700;
                font-size: 22px;
    
            }
    
            .caption{
                font-weight: 400;
                font-size:18px;
            }   
        }
    }

}

@include mobile{
  h1{
            font-size:32px;
        }
    .section-tujuan{
    
        padding-top:120px;
        text-align: center;
    }
    .section-value{
      
        .card-content-wrapper{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
        
            
            row-gap: 39px;
            column-gap: 0;
            .card-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding-top:20px;
                padding-left:10px;
                padding-right: 10px;
                justify-content: center;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
                border-radius: 10px;
                min-height: auto;  
                .text-content{
                    padding:0;
                }
                .title{
                    margin-top:30px;
                    font-weight: 700;
        
                }
        
                caption{
                    font-weight: 400;
                    font-size:14px;
                }   
            }
        }
    }
}

@include tablet{
    .section-tujuan{
        padding-top:150px;
        text-align: center;
        img{
            margin-top: 75px;
          
        }

    }
    .section-value{
      
        .card-content-wrapper{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
        
            
            row-gap: 39px;
            column-gap: 0;
            .card-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding-top:20px;
                padding-left:10px;
                padding-right: 10px;
                justify-content: center;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
                border-radius: 10px;
                min-height: auto;  
                .text-content{
                    padding:0;
                }
                .title{
                    margin-top:30px;
                    font-weight: 700;
        
                }
        
                caption{
                    font-weight: 400;
                    font-size:14px;
                }   
            }
        }
    }
}

@include tablet-xl{
    .section-tujuan{
        padding-top:150px;
        .container{
            max-width: 90%;
        }
        img{
            margin-top: 75px;
            width: 100%;
            padding-left: 3.0833333333333335vw;
        }
    }
    .section-value{
      
        .card-content-wrapper{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        
            
            row-gap: 39px;
            column-gap:39px;
            .card-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding-top:80px;
                padding-left:10px;
                padding-right: 10px;
                justify-content: start;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
                border-radius: 10px;
                min-height: 350px;  
                .title{
                    margin-top:30px;
                    font-weight: 700;
        
                }
        
                caption{
                    font-weight: 400;
                    font-size:14px;
                }   
            }
        }
    }
}

@include dekstop{
    .section-tujuan{
        padding-top:150px;
    }
    .section-value{
      
        .card-content-wrapper{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        
            
            row-gap: 39px;
            column-gap:39px;
            .card-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                padding-top:80px;
                padding-left:10px;
                padding-right: 10px;
                justify-content: start;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
                border-radius: 10px;
                min-height: 350px;  
                .text-content{
                    padding:0;
                }
                .title{
                    margin-top:30px;
                    font-weight: 700;
        
                }
        
                caption{
                    font-weight: 400;
                    font-size:14px;
                }   
            }
        }
    }
}

@include extra{
    .section-tujuan{
        margin-top:calc((100px + 4.268943436499466vh)*-1);
        .container{
            
        max-width: 80% ;
        width: 95%;
        }
        h1{
            font-size: calc(2rem + 0.9375vw );
            line-height: calc(50px + 1.145833vw);
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            text-align: justify;
            font-size:20px;
        }

        img{
            width: 578px;
            height: 378px;
            padding-left:150px;
        }
    }
    .section-value{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        padding-top:129px;
        padding-bottom:150px;
        .container{
            max-width: 88%;
        }
        .card-content-wrapper{
            width: 88%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            
            row-gap: 39px;
            column-gap: 61px;
            .card-content{
                display: flex;
                align-items: center;
                padding-left:calc(50px +  0.46875vw); 
                padding-right: calc(45px +  0.46875vw);
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(180, 180, 180, 0.25);
                border-radius: 10px;
                min-height: 220px;  
                .text-content{
                    padding-left:calc(45px + 0.3645833vw);
                }
                .title{
                    font-size:24px;
                    font-weight: 700;
        
                }
        
                .caption{
                    font-weight: 400;
                    font-size:20px;
                }   
            }
        }
    
    }

}