@import '@/assets/scss/global-variable.scss';

.section-produk-content{

    padding-top:107px;
    padding-bottom:109px;
}

.produkWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:0px;
    @for $i from 1 through 3{
        .produk-content{
            &:nth-child(#{$i}){
                margin-top:0;
            }
        
    
        }  
    }
    @for $i from 4 through 6{
        .produk-content{
            &:nth-child(#{$i}){
                margin-top:100px;
    
            }
         
        }  
    }
    
    .produk-content{
        
        &:nth-child(6){
         
            img{
               width: 140px;
               height: 130px;
            }
        }
    }
 
}


//start section operator

.section-operator{
    padding-top:83px;
    background: rgba(225, 225, 225, 0.17);
    position:relative;
    padding-bottom:110px;

    .operator-container{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .operator-wrapper{
       
        padding-top:80px;
        display:grid;
        width:90%;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 100px;
        column-gap: 0px;

        .operator-content{
            width: 190px;
            height: 190px;
   
            display: flex;
            justify-content: center;
            align-items: center;
     
            &:nth-child(1){
               img{
                   width: 183px;
                   height: 57px;
               }
            }

            &:nth-child(2){
                img{
                    width: 92px;
                    height: 74px;
                }
            }
            &:nth-child(3){
                img{
                    width:128px;
                    height: 69px;
                }
            }
            &:nth-child(4){
                img{
                    width:58px ;
                    height: 75px;
                }
            }
            &:nth-child(5){
                img{
                    width: 101px;
                    height: 93px;
                }
            }
            &:nth-child(6){
                img{
                    width: 119px;
                    height: 82px;
                }
            }
            &:nth-child(7){
                img{
                    width: 135px;
                    height: 65px;
                }
              
            }
            &:nth-child(8){
                img{
                    width:100px;
                    height: 90px;
                }
             
            }
            &:nth-child(9){
                img{
                    width: 92px;
                    height: 93px;
                }
            }
            
        
        }
      
   
       

       
    }
    .elipse{
        width:250px;
        position: absolute;
        right:0;
        bottom:0;

    }


}

@include mobile{
    .section-operator{
       
        .operator-wrapper{
          
            grid-template-columns: repeat(2,minmax(50px,1fr));
            column-gap: 0;

        }
    }
}

@include tablet{
    .section-operator{

        .operator-wrapper{
            padding-top:20px;
            grid-template-columns: repeat(3,minmax(90px,1fr));
           
            column-gap: 90px;

        }
    }
    
}

@include tablet-xl{
    .section-operator{

        .operator-wrapper{
            padding-top:20px;
            grid-template-columns: repeat(3,minmax(90px,1fr));
           
            column-gap: 90px;

        }
    }
    
}
@include extra{
    .produkWrapper{
        width: 75%;
        display: flex;
        justify-content: center;
        padding-top:0px;
    
        @for $i from 1 through 3{
            .produk-content{
                &:nth-child(#{$i}){
                    margin-top:0;
                }
            
        
            }  
        }
        @for $i from 4 through 6{
            .produk-content{
                &:nth-child(#{$i}){
                    margin-top:120px;
        
                }
             
            }  
        }
    }

    .section-operator{
        .operator-container{

            display: flex;
            justify-items: center;
            align-items: center;
            .operator-wrapper{
                width: 70%;
            }
            .elipse{
                width:340px;
                position: absolute;
                right:0;
                bottom:0;
        
            }
        }

    }
    
}